.cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

  
.favorite{
  background-color: rgba(187, 0, 0, 0);
  border-radius: 3rem;
  border: 0.1px solid rgb(117, 117, 117);
  transition: 0.3s;
  color: red;
} 
.favorite:hover {
  background-color: rgba(170, 170, 170, 0.247);
  border-color: rgba(255, 255, 255, 0);
}


.paginated{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 5.8rem;
}

.pageBtn{
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  border: solid 2px rgb(245, 210, 146);
  border-radius: 3px;
  margin: 0.2rem;
  padding-top: 0.1rem;
  cursor: pointer;
  transition: 0.3s;
}
.pageBtn:hover{
  color:rgb(0, 0, 0);
  background-color:rgb(242, 191, 252);
}
.pageBtn:active{
  background-color:rgb(207, 110, 226);
}

.noBtn{
  color:rgb(255, 255, 255);
  background-color:rgb(255, 255, 255);
  border: none;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

}
.paginateContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
  
.users{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}


.cardsContainer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.createPost{
width: 
80%;
}
