.searchBarBody{
  
}

.searchBarInput{
  width: 35rem;
  height: 2.5rem;
}

.buttonSearchBar{
  background: white;
  color: rgb(0, 0, 0);
  border: 1px rgb(210, 209, 209);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 8px;
}
