:root {
--bs-dark: #212529;
--bs-bisque: #ffe4c4;
--bs-text-light: rgb(255, 255, 255);
--bs-text-grey1: rgba(255, 255, 255, 0.55);
--bs-text-grey2: rgb(179, 179, 179);
--bs-text-dark: rgb(0, 0, 0);
}

.header{
background-color: var(--bs-dark);
color: var(--bs-text-light);
display: flex;
justify-content: space-between;
padding-left: 2rem;
padding-right: 2rem;
align-items: center;
}

.container{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.link{
border: none;
background-color: rgba(255, 228, 196, 0);
color: var(--bs-text-grey2);
}

